@keyframes ping {
    75%, 100% {
        opacity: 0;
    }
}

.map > svg {
    height: 70vh;
    max-width:100%;
    margin: auto;
    display: block
}

.map > svg circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 21px;
    stroke-miterlimit: 1.5;
}

.map > svg circle.city-circle {
    animation: ping 1s infinite;
    stroke-width: 10px;
}


.map > svg path {
    fill: none;
    fill-rule: nonzero;
    stroke: #0f4858;
    stroke-width: 2px;
}


header.hero:after {
    content: none;
}